.loading-spinner-overlay {
  position: absolute;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-modal {
  justify-content: center;
  align-self: center;
}

.delete-modal .modal-header {
  background-color: #343a40;
  color: white;
  font-weight: bold;
  text-align: center;
}

.delete-modal .modal-body {
  background-color: darkred;
  color: white;
  font-size: 1.2rem;
  padding: 5%;
}

.delete-modal .modal-footer {
  background-color: #343a40;
  padding: 3% 5%;
}

.delete-modal .btn-primary {
  border: none;
  font-size: 1rem;
  padding: 0.7rem 1.2rem;
}

.delete-modal .btn-danger {
  background-color: #dc3545;
  border: none;
  padding: 0.7rem;
}

.delete-modal .btn-primary:hover,
.delete-modal .btn-danger:hover {
  color: #721c24;
  opacity: 0.8;
}

.delete-modal .modal-header .close {
  color: #731c24;
  opacity: 0.8;
}

.delete-modal .modal-header .close:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.delete-modal .modal-dialog {
  max-width: 25%;
  margin: 10% auto;
}

.delete-modal .modal-content {
  background-color: #212529;
  border-radius: 8px;
  overflow: hidden;
}

.navbar-nav {
  width: 100%;
}

.navbar-nav .logIn-link {
  color: white;
  margin-left: auto;
}

.logInContainer {
  margin-top: 8%;
  margin-left: 25%;
  background-color: #f8f9fa;
  padding: 1%;
  border-radius: 8px;
  box-shadow: 0% 2% 5% rgba(0, 0, 0, 0.1);
  width: 50%;
}

.w-25 {
  width: 100%;
  margin-top: 8%;
  background-color: #f8f9fa;
  padding: 1%;
  border-radius: 8px;
  box-shadow: 0% 2% 5% rgba(0, 0, 0, 0.1);
}

.w-25 .logIn-text {
  width: 100%;
  margin-bottom: 2%;
  border: 2% solid #ced4da;
}

.logInContainer .row {
  display: flex;
  justify-content: space-between;
}

.w-25 .logIn-btn {
  margin: auto;
  width: 40%;
  margin-bottom: 1%;
}

.w-25 .logIn-cancel {
  margin: auto;
  width: 40%;
  margin-bottom: 1%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  margin-top: 2%;
  background-color: #212529;
  color: white;
  padding: 1%;
  display: flex;
  flex-direction: column;
  transition: transform 0.3 ease;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.sidebar.visible {
  transform: translateX(0%);
}

.sidebar h4 {
  margin-bottom: 10%;
}

.sidebar .nav-link {
  color: white;
  padding: 2% 5%;
  background-color: #343a40;
}

.sidebar .nav-link:hover {
  background-color: #495057;
}

.cat-cont {
  margin-top: 5%;
}

.warning-header {
  margin-top: 10%;
  color: red;
}
